@model IEnumerable<_420_476.Projet.Session.Models.Service>

@{
    ViewBag.Title = "Index";
}
<style>#pub footer{display:none;}</style>
<script type="text/javascript">
    var offrantVar;
    var userVar;

    function openMessage(offrantID, userID, typeOffre, sujetOffre, offreID) {
        offrantVar = offrantID;
        userVar = userID;

        document.getElementById('offreLabel').innerHTML = sujetOffre;
        document.getElementById('messageTextArea').value = "";
        document.getElementById('sujet').value = "OFFRE - " + offreID;
        $.ajax({
            type: "POST",
            url: "/Home/saveCookie",
            data: typeOffre,
            datatype: "html",
            success: function (data) {
                $("#table").fadeIn();
                $("#back").fadeIn();
                $("#messageDiv").fadeIn();
            }
        })
    }

    function sendMessage() {
        var message = {
            offrant: offrantVar,
            user: userVar,
            message: document.getElementById('messageTextArea').value,
            sujet: document.getElementById('sujet').value
        }

        $.ajax({
            type: "POST",
            url: "/Messages/ajaxCreateMessage",
            data: message,
            datatype: "html",
            success: function (data) {
                cancel();
                setTimeout(confirmMessate, 500);
            }
        })
    }

    function cancel() {
        $("#messageDiv").fadeOut();
        $("#successDiv").fadeOut();
        $("#back").fadeOut();
        $("#table").fadeOut();
    }

    function confirmMessate() {
        $("#back").fadeIn();
        $("#messageDiv").fadeIn();
        $("#successDiv").fadeIn();
    }

    $(document).ready(function () {
        t = setInterval("reloadPub()", 6000);
    })

    function reloadPub() {
        $("#pub").fadeOut();
        setTimeout("fadeO()", 500);
    }

    function fadeO() {
        $("#pub").load('@Url.Action("publicite", "Services")');
        setTimeout("fadeI()", 500);
    }

    function fadeI() {
        $("#pub").fadeIn();
    }
</script>
<h2>Index</h2>
<div id="back" style="position:absolute;display:none;background-color:rgba(0,0,0,0.8);width:100%;height:100%;top:0;left:0;z-index:999999999;" onclick="cancel();"></div>
<div id="messageDiv" style="display:none;position:absolute;padding:0px 25px 25px 25px;margin:15%;background-color:lightgray;border:1px solid black;z-index:9999999999;">
    <div id="successDiv" style="display:none;margin:auto;">
        <h2>Message envoyé avec succès</h2>
        <input type="button" onclick="cancel()" value="Fermer" />
    </div>
    <div id="table" style="display:none;">
        <h2>Envoyer un message</h2>
        <table>
            <tr>
                <td>
                    <span style="font-weight:bolder;">OFFRE:</span>
                </td>
                <td>
                    <span id="offreLabel" style="text-decoration:underline;"></span>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Sujet: ", new { style = "font-weight:bolder;" })
                </td>
                <td>
                    <input type="text" id="sujet" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Message: ", new { style = "font-weight:bolder;" })
                </td>
                <td>
                    <textarea style="resize:none;width:500px;height:250px;" id="messageTextArea"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" onclick="sendMessage()" value="Envoyer" />
                </td>
                <td>
                    <input type="button" onclick="cancel()" value="Annuler" />
                </td>
            </tr>
        </table>
    </div>
</div>    
<div id="pubHolder" style="margin:10px;padding:3px;">
    <h3>Services qui pourraient vous intéresser</h3>
    <div style="height:75px;">
        <div id="pub">
            @Html.Partial("~/Views/Services/publicite.cshtml")
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @Html.ActionLink("Precedent", "PreviousServices", "Navigation")
    @Html.ActionLink("Suivant", "NextServices", "Navigation")
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offrant.Region)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offrant.Region)
            </td>
            <td>
                <a onclick="openMessage(@item.OffrantID,@Session["UserID"],'@item.Type','@item.Label',@item.ID)" style="cursor:pointer;">Envoyer Message</a>
            </td>
            @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>*@
        </tr>
    }

</table>