@model IEnumerable<_420_476.Projet.Session.Models.Message>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @Html.ActionLink("Precedent", "PreviousMessages", "Navigation")
    @Html.ActionLink("Suivant", "NextMessages", "Navigation")
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sujet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnvoie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statut_lu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User1.Login)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sujet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnvoie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Statut_lu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User1.Login)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
