@model IEnumerable<_420_476.Projet.Session.Models.Offrant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Membre.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Membre.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MembreID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MembreID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MembreID })
        </td>
    </tr>
}

</table>
