<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/MyCSS.css" rel="stylesheet" />
    <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#offreant").click(function (e) {
                e.preventDefault();
                var r = confirm("Souhaitez-vous réellement devenir un offrant de services associé à Pet-Care");
                if (r) {
                    window.location = $(this).attr('href');
                }
            })
        });
    </script>
</head>
<body>
    <div>
        <div class="header">
            <div class="test">
                <ul>
                    <li>
                        <a href="/">
                            <img src="~/Content/images/6TpLAg87c.png" alt="Pet-Care" width="50" height="50"/>
                        </a>
                    </li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    
                    @if (Session["userRole"] != null)
                    {
                        @*<li>
                            @Html.ActionLink("Modifier informations personnelles", "Edit", "Users")
                        </li>*@
                        if (Session["userRole"].Equals("Membre") || Session["userRole"].Equals("Offrant"))
                        {
                            <li>
                                @Html.ActionLink("Profil Personnel", "Edit", "Membres")
                            </li>
                            if (!Session["userRole"].Equals("Offrant"))
                            {
                                <li>
                                    <a id="offreant" href="~/Home/Evolve">Devenir Offreant</a>
                                </li>
                            }
                            <li>
                                @Html.ActionLink("Consulter les offres", "Index", "Services")
                            </li>
                            <li>
                                @Html.ActionLink("Ajouter un animal", "Create", "Animals")
                            </li>
                            <li>
                                @Html.ActionLink("Modifier un animal", "Index", "Animals")
                            </li>
                            @*<li>
                                @Html.ActionLink("Faire une plainte", "Plainte", "Messages")
                            </li>*@
                            <li>
                                @Html.ActionLink("Rate un service", "Index", "ServicesRatings")
                            </li>
                        }
                        if (Session["userRole"].Equals("Offrant"))
                        {
                            <li>
                                @Html.ActionLink("Créer un offre", "Create", "Services")
                            </li>
                            <li>
                                @Html.ActionLink("Modifier un offre", "MesOffres", "Services")
                            </li>
                            <li>
                                @Html.ActionLink("Choisir votre région d'activité", "Edit", "Offrants")
                            </li>
                        }
                        if (Session["userRole"].Equals("Gestionnaire"))
                        {
                            <li>
                                @Html.ActionLink("Gérer les plaintes", "GererPlaintes", "Messages")
                            </li>
                        }
                        if (Session["userRole"].Equals("Administrateur"))
                        {
                            <li>
                                @Html.ActionLink("Visualiser les rapports", "Rapport", "Gestion")
                            </li>
                            <li>
                                @Html.ActionLink("Gérer les profils", "GererProfils", "Gestion")
                            </li>
                        }
                        <li>@Html.ActionLink("Contactez nous", "Contact", "Home")</li>
                        <li>
                            @Html.ActionLink("Déconnecter", "LoginOut", "Home")
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Se connecter", "Login", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Créer un compte", "Create", "Users")
                        </li>
                        <li>@Html.ActionLink("Contactez nous", "Contact", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pet-Care</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>