@model IEnumerable<_420_476.Projet.Session.Models.Animal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Race)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Besoins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etat)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Membre.FirstName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Race)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Besoins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etat)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Membre.FirstName)
        </td>*@
        <td>
            @if (Html.DisplayFor(modelItem => item.Photo).ToString().Equals(""))
            {
                <span>NO PICTURE</span>
            }
            else
            {
                var path = Session["UserID"] + "/" + item.Photo;
                <img src="~/Content/Images/@path" alt="image" height="50" width="50" onerror="this.src = '~/Content/Images/not_found';" />
            }
            @*@Html.DisplayFor(modelItem => item.Photo)*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>
